.login-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.error-tips {
  color: red;
}
